<% layout("layouts/boilerplate")%>
  <div class="row">
      <h1 class="text-center">New Playground</h1>
      <div class="col-md-6 offset-md-3">
        
        <form action="/playgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="playground[title]" required>
                <div class="valid-feedback">
                     Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="playground[location]" required>
                <div class="valid-feedback">
                    Looks good!
               </div>
            </div>
        
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="playground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->

            <div class="mb-3">
                <label class="form-label" for="price">Playground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="playground[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
               </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="playground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
               </div>
            </div>
                <!--Colts which is outdated, to delete but here for posterity, latest bootstrap below! 
                <div class="form-file">
                <input type="file" class="form-file-input" id="image" name="image" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text custom-file-label">Choose image(s)...</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div> -->

            <!-- The below was working and now isn't in that images aren't displayed in the backend, and also an error message on logout/in ugh -->

            <!-- <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add your photos here!</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
              </div> -->

              <div class="mb-3">
                <label class="form-label">Choose Image(s)</label>
                <div class="form-file custom-file">
                      <input class="form-control custom-file-input" type="file" id="image" name="image" multiple onchange="previewMultiple(event)">
                      <label for="image" class="form-label custom-file-label"></label>
                  </div>
                  <div id="formFile"></div>
              </div>

            <div class="mb-3">
            <button class="btn btn-success">Add Playground</button>
            </div>
        </form>
        <!-- <a href="/playgrounds">All Playgrounds</a> -->
    
      </div>
  </div>
