<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width">
    <title>PlayBim</title>    
    <link rel="shortcut icon" type="image/png" href="../assets/palmtreefavicon.png" alt="small palm tree cartoon image">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
    crossorigin="anonymous"> 
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <!-- <h3 class="float-md-left mb-0">PlayBim</h3> -->
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/playgrounds">Playgrounds</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>PlayBim</h1>
            <p id="tagline" class="lead"> 
                <strong>Find your kid's next favourite playground</strong> <br> </p>
            <a id="view-playgrounds-button" href="/playgrounds" 
               class="mt-3 btn btn-lg btn-outline-light font-weight-bold border-white">
               View Playgrounds</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Play safe, Bim! ♡</p>
        </footer>


    </div>

<body>
<!-- 
    Note Colt had 2 bootstrap js links pasted so if not working may need to grab the other -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
  crossorigin="anonymous"></script> 
  
</body>
</html>