<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width">
    <title>Home</title>
</head>

<body>
    <h1>PlayBim Home!</h1>
</body>
</html>