body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/tree-cloud-sky-beach-sea-tropics-1417925.2.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 8rem;
}

#tagline {
    font-size: 3rem;
}

#view-playgrounds-button {
    font-size: 2.2rem;
    padding: 1.2rem;
    margin-top: 3em;
}

#view-playgrounds-button:hover,
#view-playgrounds-button:active {
    color: transparent;
}

/* Medium to larger screens*/

@media (min-width:1024px) {
    h1 {
        font-size: 5rem;
    };
    #tagline {
        font-size: 2.5rem
    };
}

#home-nav .nav-link {
    font-size: 2.25rem;
}

@media screen and (min-width:1024px) {
    #home-nav .nav-link {
        font-size: 1.25rem;
    };
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

/* 
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    left:0
}

@media screen and (max-width: 1024px) {
    img.bg {
        left:50%;
        margin-left: -512px
    }
} */